In [4]:
# maximum of two numbers
def max_of_two(a,b):
    if a>b:  
        return a 
    else: 
        return b

In [3]:
max_of_two(3,5)

5

In [5]:
abs(-50)

50

In [68]:
# absolute of number
def absulute(a):
    return max(a,-a)

In [69]:
absulute(-59)

59

In [70]:
absulute(38)

38

In [9]:
#maximum of three numbers
def max_of_3(a,b,c):
    if a>b:
        return a
    elif b>c:
        return b
    else:
        return c

In [10]:
max_of_3(1,2,3)

3

In [11]:
max_of_3(3,2,1)

3

In [12]:
l=[1,2,3,4,5,6,7,8,9]

In [27]:
#maximum value in a list
def max(list):
    l=list
    max=l[0]
    for i in range(len(l)):
        if l[i]>max:
            max=l[i]
    return max

In [13]:
l[0]

1

In [29]:
max([5,8,3,8,2,])

8

In [30]:
sum(l)

45

In [31]:
#sum of all values in a list
def sum_list(list):
    l=list
    sum=0
    for i in range(len(l)):
        sum=l[i]+sum
    return sum

In [32]:
sum_list(l)

45

In [33]:
len(l)

9

In [51]:
#second maximum
def second_max(list):
    l=list
    max=l[0]
    for i in range(len(l)):
        if l[i]>max:
            max=l[i-2]
            
    return max

In [52]:
second_max(l)

9

In [54]:
#minimum value in a list
def min(list):
    l=list
    min=l[0]  
    for i in range(len(l)):
        if l[i]<min:
            min=l[i]
    return min

In [55]:
min(l)

1

In [1]:
#diagonal elements in a matrix
def diagonal_elements(a):
    m=n=len(a)
    de=[]
    for i in range(m):
        for j in range(n):
            if i==j:
                de.append(a[i][j])
    return de

In [2]:
diagonal_elements([[2,4],[6,7]])

[2, 7]

In [59]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [60]:
diagonal_elements(matrix)

[1, 5, 9]

In [ ]:
#sum of elements in a diagonal elements
def diagonal_elements(a):
    M=a
    m=n=len(M)
    de=[]
    for i in range(m):
        for j in range(n):
            if i==j:
                de.append(M[i][j])
    sumrd=sum(de)

In [61]:
matrix[::-1]

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [75]:
def diagonal_elements(a):
    M=a
    m=n=len(M)
    de=[]
    for i in range(m):
        for j in range(n):
            if i==abs(j-(n-1)):
                de.append(M[i][j])
    return de

In [76]:
diagonal_elements(matrix)

[3, 5, 7]

In [77]:
m=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [78]:
diagonal_elements(m)

[4, 7, 10, 13]

In [79]:
def diagonal_elements(a):
    M=a
    m=n=len(M)
    de=[]
    for i in range(m):
        for j in range(n):
            if i==j:
                de.append(M[i][j])
    sumrd=sum(de)
    le=[]
    for i in range(m):
        for j in range(n):
            if i==abs(j-(n-1)):
                le.append(M[i][j])
    sumle=sum(le)
    diff=abs(sumrd-sumle)
    return diff

In [82]:
diagonal_elements(a)

7

In [81]:
a=[[6,3],[4,8]]

In [93]:
#factorial
def factorial(a):
    mul=1
    for i in range(1,a+1):
        mul=i*mul
    return mul

In [95]:
factorial(5)

120

In [1]:
def recursive_factorial(a):
    return (a*recursive_factorial(a-1))

In [ ]:
recursive_factorial(5)

In [6]:
#swap
def swap(a,b):
    z=a
    a=b
    b=z
    return(a,b)

In [7]:
swap(3,4)

(4, 3)

In [18]:
#sorting
def sort(list):
    l=list
    n=len(l)
    for i in range(n):
        for j in range(n-1):
            if l[i]<l[j]:
                temp=l[i]
                l[i]=l[j]
                l[j]=temp
    return l

In [19]:
sort([4,8,2,1,9])

[1, 2, 4, 8, 9]

In [1]:
#ascending and descending
def sort(list, accending=True):
    
    l=list
    n=len(l)
    
    if accending==False:
        for i in range(n):
            for j in range(n-1):
                if l[i]>l[j]:
                    temp=l[i]
                    l[i]=l[j]
                    l[j]=temp
        return l     
    elif accending==True:
        for i in range(n):
            for j in range(n-1):
                if l[i]<l[j]:
                    temp=l[i]
                    l[i]=l[j]
                    l[j]=temp
        return l

In [2]:
sort([4,6,2,4,0],accending=False)

[6, 4, 4, 2, 0]

In [3]:
sort([4,6,2,4,0],accending=True)

[0, 2, 4, 4, 6]

In [35]:
import numpy as np
m2=np.random.randint(1,20,6)

In [37]:
m2.reshape(2,3)

array([[13, 16,  8],
       [14, 19, 15]])

In [64]:
 sum_of_metrices(M1,M2)

In [73]:
#Addition of two numbers
def addition_two_number(a,b):
    sum=[]
    num1=a
    num2=b
    sum=num1+num2
    return sum

In [74]:
addition_two_number(6,7)

13

In [77]:
#Square root of a number
def square_root_number(a):
    num_sqrt=[]
    num=a
    num_sqrt=num**0.5
    return num_sqrt

In [78]:
square_root_number(8)

2.8284271247461903

In [79]:
#Area of triangle
def area_of_triangle(a,b,c):
    num1=a
    num2=b
    num3=c
    area=[]
    s=(a+b+c)/2
    area=(s*(s-a)*(s-b)*(s-c))**0.5
    return area

In [80]:
area_of_triangle(5,6,7)

14.696938456699069

In [83]:
#Check if number is positive or negative 
def number_is_positive_or_negative(a):
    num=a
    if(num>0):
        return positive
    elif(num<0):
        return negative
    else:
        return zero

In [86]:
number_is_positive_or_negative(7)

The number is positive

In [85]:
#Check if number is positive or negative 
def number_is_positive_or_negative(a):
    num=a
    if(num>0):
        print("The number is positive")
    elif(num<0):
        print("The number is negative")
    else:
        print("The number is zero")

In [87]:
number_is_positive_or_negative(-10)

The number is negative

In [9]:
#Check if number is even or odd
def number_is_even_or_odd(a):
    num=a
    if(num%2==0):
        print("The number is even")
    else:
        print("The number is odd")

In [10]:
number_is_even_or_odd(9)

The number is odd

In [11]:
number_is_even_or_odd(8)

The number is even

In [12]:
number_is_even_or_odd(100)

The number is even

In [13]:
number_is_even_or_odd(202)

The number is even

In [14]:
number_is_even_or_odd(20004)

The number is even

In [15]:
number_is_even_or_odd(10000001)

The number is odd

In [19]:
#Check if the year is leap or not
def leap_year(a):
    year=a
    if(year%4==0&year%400==0):
        print("The year is leap year")
    else:
        print("The year is not leap year")

In [20]:
leap_year(2000)

The year is leap year

In [21]:
leap_year(1999)

The year is not leap year

In [22]:
leap_year(1101)

The year is not leap year

In [23]:
leap_year(2023)

The year is not leap year

In [30]:
#CHeck if number is prime number or not
def prime_number(a):
    num=a
    flag=False
    if num==1:
        print(num,"is not a prime number")
    elif num>1:
        for i  in range(2,num):
            if(num%i)==0:
                flag=True
                break
    if flag:
            print(num,"is not a prime number")
    else:
        print(num,"is prime number")

In [31]:
prime_number(5)

5 is prime number

In [32]:
prime_number(29)

29 is prime number

In [33]:
prime_number(10)

10 is not a prime number

In [34]:
prime_number(27)

27 is not a prime number

In [2]:
#Addition of two matrices
X=[[1,2,3],[4,5,6],[7,8,9]]
Y=[[3,4,5],[6,7,8],[9,1,2]]
results=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
    for j in range(len(X[0])):
        results[i][j]=X[i][j]+Y[i][j]
for r in results:
    print(r)

[4, 6, 8]
[10, 12, 14]
[16, 9, 11]