In [1]:
name="Shreya Subhash Guggare"

In [2]:
#Capitalize - makes first character of String Capital and rest all lower
name.capitalize()

'Shreya subhash guggare'

In [14]:
" ".join(name)

'S h r e y a   S u b h a s h   G u g g a r e'

In [15]:
#Reversed - reverses a string
reversed(name)

In [16]:
# use .join to display reversed string
" ".join(reversed(name))

'e r a g g u G   h s a h b u S   a y e r h S'

In [17]:
list(reversed(name))

['e',
 'r',
 'a',
 'g',
 'g',
 'u',
 'G',
 ' ',
 'h',
 's',
 'a',
 'h',
 'b',
 'u',
 'S',
 ' ',
 'a',
 'y',
 'e',
 'r',
 'h',
 'S']

In [19]:
name.split(" ")

['Shreya', 'Subhash', 'Guggare']

In [21]:
name.split(" ")[::-1]

['Guggare', 'Subhash', 'Shreya']

In [32]:
name.split(" ")[::-1][1]

'Subhash'

In [23]:
name.split(" ")[::-1][2]

'Shreya'

In [24]:
" * ".join(name)

'S * h * r * e * y * a *   * S * u * b * h * a * s * h *   * G * u * g * g * a * r * e'

In [25]:
#Return a copy of the string with leading and trailing whitespace removed.
name.strip()

'Shreya Subhash Guggare'

In [26]:
a = 'jandmnflkdrg    '

In [27]:
a.strip()

'jandmnflkdrg'

In [28]:
a

'jandmnflkdrg    '

In [29]:
b= "Good Morning Dharwad"

In [30]:
b.replace('Dharwad','Sankeshwar')

'Good Morning Sankeshwar'

In [31]:
b.replace("oo","  ")

'G  d Morning Dharwad'

In [33]:
name

'Shreya Subhash Guggare'

In [34]:
name.islower()

False

In [35]:
name.isupper()

False

In [36]:
"".isspace()

False

In [37]:
" ".isspace()

True

In [38]:
name.endswith("e")

True

In [39]:
name.endswith("t")

False

In [40]:
name.split(" ")[1].endswith("h")

True

In [41]:
x= "jndf745732d"

In [42]:
x.isalnum()

True

In [ ]:
#Reversing the string

In [43]:
n="Shreya"

In [45]:
l=len(n)-1
while l!=-1:
    print(n[l])
    l=l-1

a
y
e
r
h
S

In [46]:
l=len(n)-1
while l!=-1:
    print(n[l],end=(""))
    l=l-1

ayerhS

In [47]:
n[::-1]

'ayerhS'

In [ ]:
#spliting the name into different columns

In [4]:
import pandas as pd

In [5]:
df= pd.DataFrame({"fullname":["Shreya Subhash Guggare"]})

In [6]:
df

                 fullname
0  Shreya Subhash Guggare

In [56]:
df.values[0][0]

'Shreya Subhash Guggare'

In [57]:
df.values[0][0].split(" ")

['Shreya', 'Subhash', 'Guggare']

In [60]:
df.fullname.array[0].spilt(" ")

'Shreya Subhash Guggare'

In [61]:
df.fullname.dtypes

dtype('O')

In [62]:
#converting object dtype into string
df.fullname.str

In [63]:
type(df.fullname.str)

pandas.core.strings.accessor.StringMethods

In [64]:
df.fullname.dtypes

dtype('O')

In [65]:
df.fullname.str.split(" ")

0    [Shreya, Subhash, Guggare]
Name: fullname, dtype: object

In [7]:
df.fullname.str.split(" ",expand=True)

        0        1        2
0  Shreya  Subhash  Guggare

In [8]:
df[["first_name","middle_name","last_name"]]=df.fullname.str.split(" ",expand=True)
df

                 fullname first_name middle_name last_name
0  Shreya Subhash Guggare     Shreya     Subhash   Guggare

In [9]:
#Printing the all the vowels in the string

In [13]:
name="Shreya Subhash Guggare"
vowels="AEIOUaeiou"
for i in name:
    if i in vowels:
        print (i,end=(" "))

e a u a u a e

In [14]:
def vowels(string):
    vowels="AEIOUaeiou"
    for i in string:
        if i in vowels:
            print(i,end=" ")

In [15]:
vowels("LOVE YOU")

O E O U