In [2]:
#Python program to print positive number in list

In [5]:
list1=[23,-9,8,34,-1,65,-7]
for num in list1:
    if num>0:
        print("Positive number:",num)

Positive number: 23
Positive number: 8
Positive number: 34
Positive number: 65

In [9]:
list1=[23,-9,8,34,-1,65,-7,0]
for num in list1:
    if num>=0:
        print(num,end=" ")

23 8 34 65 0

In [13]:
def num(list1):
    for num in list1:
        if num>0:
            print("Positive number:",num)

In [14]:
list1=[23,-9,8,34,-1,65,-7]

In [15]:
num(list1)

Positive number: 23
Positive number: 8
Positive number: 34
Positive number: 65

In [19]:
#Python program to print negative number in list

In [20]:
list1=[23,-9,8,34,-1,65,-7]
for num in list1:
    if num<0:
        print("Negative number:",num)

Negative number: -9
Negative number: -1
Negative number: -7

In [18]:
#Python program to count positive and negative number in list

In [25]:
def num(lst):
    positive_count,negative_count=0,0
    for num in lst:
        if num>=0:
            positive_count+=1
        else:
            negative_count+=1
    print("positive number in list:",positive_count)
    print("negative number in list:",negative_count)

In [26]:
lst=[-1,45,-78,32,-4,89,91,2010,-51,-77,-48]

In [27]:
num(lst)

positive number in list: 5
negative number in list: 6

In [ ]:
#Remove empty tuples from a list of tuples function to remove empty tuples using list comprehension

In [28]:
def Remove(tuples):
    tuples=[t for t in tuples if t]
    return tuples
tuples=[(),('ram','15','8'),(),('laxman','sita'),('krishna','akbar','45'),('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [29]:
lis=[1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
uniqueList=[]
duplicateList=[]
for i in lis:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
print(duplicateList)

[1, 2, 5, 9]