In [ ]:
#Python program to swap first and Last element of list

In [1]:
def swapList(newList):
    size=len(newList)
    temp=newList[0]
    newList[0]=newList[size-1]
    newList[size-1]=temp
    return newList

In [2]:
newList=[12,35,9,56,24]

In [3]:
print(swapList(newList))

[24, 35, 9, 56, 12]

In [4]:
newList[0]

24

In [6]:
def swaplist(newlist):
    newlist[0],newlist[-1]=newlist[-1],newlist[0]
    return newlist

In [7]:
newlist=[23,45,56,78,90,12]

In [8]:
print(swaplist(newlist))

[12, 45, 56, 78, 90, 23]

In [ ]:
#Reversing the List

In [9]:
def Reverse(lst):
    new_lst=lst[::-1]
    return new_lst

In [10]:
lst=[10,15,16,17,18,19,20]
print(Reverse(lst))

[20, 19, 18, 17, 16, 15, 10]

In [11]:
lt=[10,11,12,13,14,15]
l=[]
for i in lt:
    l.insert(0,i)
print(l)

[15, 14, 13, 12, 11, 10]

In [ ]:
#count the number of occurrences

In [12]:
def countX(lst, x):
    count=0
    for ele in lst:
        if(ele==x):
            count=count+1
    return count

In [13]:
lst=[8,6,8,10,12,10,12,8,9,2,8,7,6]
x=8
countX(lst, x)

4

In [14]:
import pandas as pd
l=[1,1,2,2,2,3,3,4,4,5,5]
count=pd.Series(l).value_counts()
print("Element Count")
print(count)

Element Count
2    3
1    2
3    2
4    2
5    2
dtype: int64

In [ ]:
#Python program to find sum and average of the list

In [16]:
L=[4,5,1,2,9,7,10,8]
count=sum(L)
avg=count/len(L)
print(count)
print(avg)

46
5.75

In [18]:
import numpy as np
L=[4,5,1,2,9,7,10,8]
sum_=np.sum(L)
avg=np.average(L)
print("sum=",sum_)
print("average=",avg)

sum= 46
average= 5.75

In [ ]:
#Multiply all values in the list

In [3]:
def multiplyList(myList):
    result=1
    for x in myList:
        result=result*x
    return result

In [20]:
list1=[5,6,7,8,9,4,5]

In [21]:
multiplyList(list1)

302400

In [4]:
list1=[1,1,2,3]

In [5]:
multiplyList(list1)

6

In [6]:
#Smallest nuumber in a list

In [8]:
list1=[32,76,89,20,80,90,67,90,56,43,23]
list1.sort()
print('Smallest element in list:',list1[0])

Smallest element in list: 20

In [11]:
list1=[32,76,89,20,80,90,67,90,56,43,23]
list1.sort()
print('Smallest element in list:',min(list1))

Smallest element in list: 20

In [12]:
list1=[32,76,89,20,80,90,67,90,56,43,23]
list1.sort(reverse=True)

In [14]:
list1[-1]

20

In [15]:
list1=[32,76.7,89,20.4,80,90,67,90,56.8,43,23]
list1.sort()
print('Smallest element in list:',list1[0])

Smallest element in list: 20.4

In [ ]:
#Largest number in list

In [19]:
list1=[32,76,89,20,80,90,67,90,56,43,23]
list1.sort()
print('Max element in list:',list1[-1])

Max element in list: 90

In [20]:
list1=[32,76,89,20,80,90,67,90,56,43,23]
list1.sort()
print('Max element in list:',max(list1))

Max element in list: 90

In [21]:
def maxelement(lst):
    print(max(lst))

In [29]:
lst=[34,67,78,89,90,78,67,56,45,34,23,12]

In [23]:
 maxelement(lst)

90

In [24]:
#Second largest number in list
list1=[10,20,30,40,50,60,50,10]
list2=list(set(list1))
list2

[40, 10, 50, 20, 60, 30]

In [25]:
list2.sort()

In [27]:
list2[-2]

50

In [34]:
def second_largest(lst):
    lst.sort()
    print("Second largest element is:",sorted(lst)[-2])

In [35]:
second_largest(lst)

Second largest element is: 89

In [36]:
#Print even number in list
list1=[10,21,4,45,66,93]
for num in list1:
    if num%2==0:
        print(num)

10
4
66

In [ ]:
#Print odd numbers in list

In [37]:
list1=[10,21,4,45,66,93]
for num in list1:
    if num%2!=0:
        print(num)

21
45
93

In [38]:
#Program to print all even nuumbers in range
for even_numbers in range(4,15,2):
    print(even_numbers,end=' ')

4 6 8 10 12 14

In [ ]:
#Program to count all even and odd in list

In [41]:

def count(lst):
    even_count, odd_count=0,0
    for num in lst:
        if num%2==0:
            even_count+=1
        else:
            odd_count+=1
    print("Even numbers in the list:",even_count)
    print("Odd numbers in the list",odd_count)

In [40]:
lst=[20,90,80,78,67,56]

In [42]:
count(lst)

Even numbers in the list: 5
Odd numbers in the list 1