In [1]:
name="xyz"
if name=="xyz":
    print('line 1')
    print('line 2')
    if 5 == 5:
        print('line 5')
else:
    print('line3')

line 1
line 2
line 5

# Break Statement

In [2]:
for i in range(1,11):
    if i == 8:
        break
    print(i)

1
2
3
4
5
6
7

# Continue Statement

In [3]:
for i in range(1,11):
    if i==10:
        continue
    print(i)
    print("Hello")

1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9
Hello

In [4]:
# Pass Statement

for i in range(1,11):
    pass

In [5]:
# *
# **
# ***
# ****
# *****

In [6]:
rows=int(input("Enter the number of rows"))

for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

Enter the number of rows8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [7]:
import random

In [8]:
random.randint(1,100)

34

In [9]:
jackpot=random.randint(1,100)

guess=int(input("Chal guess kar"))
counter=1

while guess != jackpot:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
        
    guess=int(input("Chal Guess kar"))
    counter+=1
    
print("sahi jawab")
print("You took",counter,"attemps")

Chal guess kar45
Guess higher
Chal Guess kar56
Guess higher
Chal Guess kar78
Guess lower
Chal Guess kar66
Guess lower
Chal Guess kar62
Guess higher
Chal Guess kar64
sahi jawab
You took 6 attemps

# For Loop

In [10]:
#range function
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
list(range(1,11,3))

[1, 4, 7, 10]

In [15]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
# Sequence
# String
"Kolkata"

'Kolkata'

In [17]:
["kolkata","Delhi","Mumbai"]

['kolkata', 'Delhi', 'Mumbai']

In [18]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
for i in "Kolkata":
    print (i)

K
o
l
k
a
t
a

In [21]:
for i in [1,2,3,5]:
    print (i)

1
2
3
5

In [22]:
for i in (1,2,4,5):
    print (i)

1
2
4
5

In [23]:
for i in {1,2,4,5}:
    print (i)

1
2
4
5

# While

In [24]:
number=int(input("Enter number"))

i=1

while i<11:
    print(number,"*",i,"=",number * i)
    i+=1

Enter number23
23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230